body {
  margin: 0;
  font-family: "Arial", "Calibri", sans-serif;
  width: 100vw;
  height: 100vh;
  background: #fbfbfb; }

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.vert-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.hor-center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.conteiner {
  width: 1920px;
  margin: 0 auto; }

.row-block-4 {
  -ms-flex-preferred-size: 25%;
  flex-basis: 25%;
  width: 25%; }

.row-block-1 {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  width: 100%; }

header {
  background: #4a5c52; }
  header span {
    font-size: 3vw;
    padding: 20px;
    color: #ccc;
    text-decoration: underline; }

.user-action {
  padding: 50px 0; }
  .user-action .btn {
    font-size: 1.5vw;
    text-transform: uppercase;
    background: #ecbc67;
    margin-bottom: 20px;
    text-align: center;
    cursor: pointer; }
    .user-action .btn a {
      display: block;
      text-decoration: none;
      color: #676767;
      padding: 20px; }

.section-create .title {
  width: 100%;
  text-align: center; }
  .section-create .title h3 {
    font-size: 24px;
    color: #676767;
    margin: 0;
    padding: 20px 0;
    text-transform: uppercase; }

.section-create .create-form {
  width: 900px;
  margin: 0 auto;
  border: 1px solid #C5C5C4;
  padding: 20px; }
  .section-create .create-form .field-wrap {
    font-size: 18px;
    color: #676767;
    padding: 10px 0; }
  .section-create .create-form input {
    width: 70%;
    margin-left: 20px; }

@media screen and (max-width: 1024px) {
  body {
    margin: 0; } }

@media screen and (max-width: 768px) {
  .row-block-2 {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    width: 50%; } }

@media screen and (max-width: 425px) {
  .row-block-1 {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    width: 100%; } }