@import "variable.sass"

body
	margin: 0
	font-family: $main-font-family
	width: 100vw
	height: 100vh
	background: #fbfbfb

.row
	display: flex

.vert-center
	align-items: center

.hor-center
	justify-content: center

.conteiner
	width: 1920px
	margin: 0 auto

.row-block-4
	flex-basis: 25%
	width: 25%

.row-block-1
	flex-basis: 100%
	width: 100%

header
	background: #4a5c52

	span
		font-size: 3vw
		padding: 20px
		color: #ccc
		text-decoration: underline	

.user-action
	padding: 50px 0

	.btn
		font-size: 1.5vw
		text-transform: uppercase
		background: #ecbc67
		margin-bottom: 20px
		text-align: center
		cursor: pointer
		

		a
			display: block
			text-decoration: none
			color: #676767
			padding: 20px
		
.section-create
	
	.title
		width: 100%
		text-align: center

		h3
			font-size: 24px
			color: #676767
			margin: 0
			padding: 20px 0
			text-transform: uppercase

	.create-form
		width: 900px
		margin: 0 auto
		border: 1px solid #C5C5C4
		padding: 20px

		.field-wrap
			font-size: 18px
			color: #676767
			padding: 10px 0

		input
			width: 70%
			margin-left: 20px

