@import "variable.sass"

@media screen and (max-width: 1024px)
	body
		margin: 0

@media screen and (max-width: 768px)
	.row-block-2
		flex-basis: 50%
		width: 50%

@media screen and (max-width: 425px)
	.row-block-1
		flex-basis: 100%
		width: 100%